
populate_data2.py
recursos_humanos/migrations/*
db.sqlite3
sistema/migrations/*
sistema2/migrations/*
nomina/__pycache__/.*
concepto_pago/migrations/*
proceso_nomina/migrations/*
prenomina/migrations/*